body {
  background-color: rgb(40, 44, 52);
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
}

.list-container .item {
  display: flex;
}

.list-container .text {
  flex: 1;
  color: white;
}

.list-container .actions {
  flex: 0;
  text-align: left;
  margin-right: 15px;
}

.list-container .actions > button {
  background-color: transparent;
  color: red;
  font-weight: 900;
  border: none;
}

.App-header {
  flex: 1;
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.App-content {
  flex: 3;
  overflow-y: auto;
}

.App-footer {
  flex: 1;
}

.App-footer > input {
  padding: 15px;
}

.App-footer .input-container {
  display: flex;
  flex-direction: row;
  border:1px solid grey;
}

.App-footer .input-container > input {
  flex-grow: 2;
  padding: 15px;
  border: none;
}

.App-footer .input-container > button {
  background-color: lightgray;
  border: none;
  padding: 0 15px;
}

.danger-button {
  background-color: red;
  padding: 15px;
  color: white;
  border: none;
  width: 100%;
}

.input-container > input:focus {
  outline: none;
}
